

<h2 mat-dialog-title fxLayoutAlign="space-around center">Add Member</h2>

<section mat-dialog-content>
  <!-- <app-add-edit-form></app-add-edit-form> -->
<mat-card-content>
  <form [formGroup]="Createform" (ngSubmit)="AddDetail()">
    <ul class="items">
    <li>
      <mat-label>First Name:</mat-label>
      <mat-form-field class="inputBackground">
        <input matInput formControlName="first_name">
        <mat-error *ngIf="CreateSubmitted && f['first_name'].hasError('required')">First name is required</mat-error>
      </mat-form-field>
    </li>
  <li>
    <mat-label>Last Name:</mat-label>
      <mat-form-field class="inputBackground">
      <input matInput formControlName="last_name">
      <mat-error *ngIf="CreateSubmitted && f['last_name'].hasError('required')">First name is required</mat-error>
    </mat-form-field>
  </li>
 
<li>
  <mat-label>Gender</mat-label>
  <mat-form-field class="inputBackground">
    <input matInput formControlName="gender">
    <mat-error *ngIf="CreateSubmitted && f['gender'].hasError('required')">First name is required</mat-error>
  </mat-form-field>
</li>
<li>
  <mat-label>Email:</mat-label>
  <mat-form-field class="inputBackground">
    <input matInput formControlName="email">
    <mat-error *ngIf="CreateSubmitted && f['email'].hasError('required')">First name is required</mat-error>
  </mat-form-field>
</li>
<li>
  <mat-label>Address</mat-label>
<mat-form-field class="inputBackground">
  <input matInput formControlName="address">
  <mat-error *ngIf="CreateSubmitted && f['address'].hasError('required')">First name is required</mat-error>
</mat-form-field>
</li>

<li>
  <mat-label>City</mat-label>
<mat-form-field class="inputBackground">
  <input matInput formControlName="city">
  <mat-error *ngIf="CreateSubmitted && f['city'].hasError('required')">First name is required</mat-error>
</mat-form-field>
</li>

<li>
  <mat-label>State</mat-label>
  <mat-form-field class="inputBackground">
    <input matInput formControlName="state">
    <mat-error *ngIf="CreateSubmitted && f['state'].hasError('required')">First name is required</mat-error>
  </mat-form-field>
</li>

<li>
  <mat-label>Country</mat-label>
  <mat-form-field class="inputBackground">
    <input matInput formControlName="country">
    <mat-error *ngIf="CreateSubmitted && f['country'].hasError('required')">First name is required</mat-error>
  </mat-form-field>
</li>

<li>
  <mat-label>Phone Number</mat-label>
  <mat-form-field class="inputBackground">
    <input matInput formControlName="phone_number">
    <mat-error *ngIf="CreateSubmitted && f['phone_number'].hasError('required')">First name is required</mat-error>
  </mat-form-field>
</li>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
  <a [routerLink]="['/materialDesign/dashboard']">Go to Home</a>
</div>
    </ul>
  </form>
  <button mat-raised-button color="warn" (click)="reset()">Reset</button>
</mat-card-content>
</section>
<div mat-dialog-actions fxLayoutAlign="space-around center">
   <button mat-dialog-close md-raised-button (click)="closeDialog()">Close</button> 
</div>



